.edit-form-container {
    max-width: 600px; /* Ajuste conforme necessário */
    margin: auto;
    padding: 20px;
    background-color: #73C7AC; /* Cor de fundo do formulário */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
}

    /* Estilo para os elementos dentro do formulário */
    .edit-form-container label {
        display: block;
        margin-bottom: 8px;
    }

    .edit-form-container .mb-3 {
        margin-bottom: 15px;
    }

    /* Estilo para o link Voltar */
    .edit-form-container a {
        margin-top: 15px;
        display: inline-block;
        color: #6c757d; /* Cor do texto do link */
    }

        .edit-form-container a:hover {
            color: #0056b3; /* Cor do link ao passar o mouse */
        }